<form [formGroup]="myForm" class="form">
  <app-type-ahead
    controlId="id"
    label="Id"
    [valueArray]="[]"
    [formControlName]="'id'"
    [control]="myForm.get('id')"
    autocomplete="id"
  >
  </app-type-ahead>
  <app-type-ahead
    controlId="name"
    label="Name"
    [valueArray]="[]"
    [formControlName]="'name'"
    [control]="myForm.get('name')"
    autocomplete="name"
  >
  </app-type-ahead>
  <div class="input-group date-picker">
    <input class="form-control" placeholder="yyyy-mm-dd"
           name="dp" ngbDatepicker #d="ngbDatepicker">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-week"
             viewBox="0 0 16 16">
          <path
            d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
          <path
            d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
        </svg>
      </button>
    </div>
  </div>
  <app-type-ahead
    controlId="location"
    label="Location"
    [valueArray]="locationsArray"
    [formControlName]="'location'"
    [control]="myForm.get('location')"
    autocomplete="on"
  >
  </app-type-ahead>
  <app-type-ahead
    controlId="country"
    label="Country"
    [valueArray]="countriesArray"
    [formControlName]="'country'"
    [control]="myForm.get('country')"
    [dependent]="true"
    autocomplete="country"
  >
  </app-type-ahead>
  <select class="form-select" name="select" formControlName="region" multiple>
    <option *ngFor="let region of regionsArray">{{region['name']}}</option>
  </select>
  <fieldset class="card">
    <div class="card-body">
    <span *ngFor="let i of seasons">
      <label>{{i}}</label>
      <input class="form-check-inline" type="checkbox" name="season">
    </span>
    </div>
  </fieldset>
  <input type="submit" class="btn btn-primary"/>
</form>
