.form-control
  transition: width .5s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out
  &.invalid
    box-shadow: 0 0 8px #f77
    width: 50%
.alert
  box-shadow: 0 0 8px #f77
  padding-top: .4rem
  padding-bottom: .4rem
label
  display: block

.row
  margin-left: 0
  margin-right: 0
